body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #000;
    padding-top: 5%;
  }

  .container {
    max-width: 350px;
    margin: auto;
    background: linear-gradient(180deg,#607196,#BABFD1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 
  label {
    display: block;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: #45a049;
  }

  .error {
    color: red;
    margin-top: 5px;
  }