
  body{
    background: #000;
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: #fff;
    backdrop-filter: blur(3px);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h1:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:#000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #000;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
    color: #fff;
    background-color:black ;

    font-size: 13px;
  
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px;
   
}

.login-box a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 24px 0;
}
  
@media (max-width: 500px){
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: #fff;
    backdrop-filter: blur(3px);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}
}

@media (max-width: 400px){
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: #fff;
    backdrop-filter: blur(3px);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}
}
